{
	"swagger": "2.0",
	"info": {
		"version": "v1",
		"title": "Lifecare FamilyCare (FC) API — caremanagement subset",
		"description": "Trimmed subset of Tieto/Lifecare FamilyCare API V1 used by api-service-caremanagement: EB write-back (aktualisering + normberäkning) + proposal lookups, and the person-based case-data reads (persons, contacts, actualisations, calculations, decisions, payments, investigations, services, executions, resource allocations, documents) and document content. Full spec archived in vof-ekonomiskt-bistand/docs/source/lifecare-fc-swagger-v1.json. Auth (domain+key query params / X-API-Key header) is applied by LifecareFcConfiguration, not modelled here."
	},
	"host": "prod-lcsse.service.tieto.com",
	"basePath": "/WESE.FC.Api.FC",
	"schemes": [
		"https"
	],
	"paths": {
		"/apifc/v1/Persons": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List persons",
				"operationId": "Persons_GetPersons",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Ok",
						"schema": {
							"$ref": "#/definitions/PersonBasedPersonDTO"
						}
					},
					"400": {
						"description": "Bad Request"
					},
					"404": {
						"description": "Not Found"
					}
				}
			}
		},
		"/apifc/v1/Contacts": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List contacts",
				"operationId": "Contacts_GetContacts",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/PersonBasedContactDTO"
							}
						}
					}
				}
			}
		},
		"/apifc/v1/Actualisations": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List actualisations",
				"operationId": "Aktualiserings_GetAktualiserings",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return applications made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return applications made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Ok",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedAktualiseringDTO]"
						}
					},
					"400": {
						"description": "Bad Request"
					}
				}
			},
			"post": {
				"tags": [
					"Person based"
				],
				"summary": "Post an actualisation",
				"operationId": "Aktualiserings_PostAktualisering",
				"consumes": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/PostAktualiseringsBodyRequest"
						}
					},
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "int32",
							"type": "integer"
						}
					}
				}
			}
		},
		"/apifc/v1/Actualisations/Proposals": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "Get proposal for actualisation",
				"operationId": "Aktualiserings_GetAktualiseringProposal",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "personId",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/PersonBasedAktualiseringProposalDTO"
						}
					}
				}
			}
		},
		"/apifc/v1/Calculations": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List calculations",
				"operationId": "Calculations_GetCalculations",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return calculations made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return Calculations end this date or before",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedCalculationDTO]"
						}
					}
				}
			},
			"post": {
				"tags": [
					"Person based"
				],
				"summary": "Post an calculations",
				"operationId": "Calculations_PostCalculation",
				"consumes": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/PostCalculationBodyRequest"
						}
					},
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "int32",
							"type": "integer"
						}
					}
				}
			}
		},
		"/apifc/v1/Calculations/Proposals": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "Get proposal for calculations",
				"operationId": "Calculations_GetCalculationProposal",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "personId",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/PersonBasedCalculationProposalDTO"
						}
					}
				}
			}
		},
		"/apifc/v1/Decisions": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List decisions",
				"operationId": "Decisions_GetDecisions",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return decisions made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return decisions made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedDecisionDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Payments": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List payments",
				"operationId": "Payments_GetPayments",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return payments made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return payments made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedPaymentDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Investigations": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List investigations",
				"operationId": "Investigations_GetInvestigations",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return investigations made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return investigations made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedInvestigationDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Services": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List services",
				"operationId": "Services_GetServices",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return services made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return services made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedServiceDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Executions": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List executions",
				"operationId": "Executions_GetExecutions",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return executions made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return executions made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedExecutionDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/ResourceAllocations": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List resource allocations",
				"operationId": "ResourceAllocations_GetResourceAllocations",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return resourceAllocations made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return resourceAllocations made this date or before.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedResourceAllocationDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/Users/GetUsers": {
			"get": {
				"tags": [
					"Users"
				],
				"summary": "List FC users (caseworkers). Used to resolve a Service's caseworker display name to the user's FC Id and network (AD) user id.",
				"operationId": "Users_GetUsers",
				"produces": [
					"application/json"
				],
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"description": "Maximum number of users to return.",
						"required": true,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Starting point within the returned resources.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "modifiedAfter",
						"in": "query",
						"description": "Only users modified after this UTC time.",
						"required": false,
						"type": "string"
					},
					{
						"name": "modifiedBefore",
						"in": "query",
						"description": "Only users modified before this UTC time.",
						"required": false,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "The matching users.",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/User"
							}
						}
					}
				}
			}
		},
		"/apifc/v1/Documents": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "List documents",
				"operationId": "Documents_GetDocuments",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "personId",
						"in": "query",
						"description": "Full personId.",
						"required": true,
						"type": "string"
					},
					{
						"name": "startDate",
						"in": "query",
						"description": "Return applications made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "endDate",
						"in": "query",
						"description": "Return applications made this date or later.",
						"required": true,
						"type": "string"
					},
					{
						"name": "pageSize",
						"in": "query",
						"description": "Max number of records to return.\r\n0 or null gives all records.",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "pageNr",
						"in": "query",
						"description": "The page number you want to retrieve\r\nDefault is 0 for the first page",
						"required": false,
						"type": "integer",
						"format": "int32"
					},
					{
						"name": "ascending",
						"in": "query",
						"description": "Indicates whether or not the order should be ascending \r\n(True) Ascending, (False) descending",
						"required": false,
						"type": "boolean"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ApiPaginationComposite[PersonBasedDocumentDTO]"
						}
					}
				}
			}
		},
		"/apifc/v1/DocumentContent": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "Get content of document",
				"operationId": "DocumentContent_GetDocumentContent",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"description": "Document id",
						"required": true,
						"type": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "The domain ID.",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "The API key.",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "object"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"AktualisationsAttachmentSenderTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"ApiPaginationComposite[PersonBasedAktualiseringDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"StartDate": {
					"format": "date-time",
					"description": "The start date.",
					"type": "string"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date.",
					"type": "string"
				},
				"PageNumber": {
					"format": "int32",
					"description": "The page number this page represents.",
					"type": "integer"
				},
				"TotalNumberOfPages": {
					"format": "int32",
					"description": "The total number of pages available.",
					"type": "integer"
				},
				"PageSize": {
					"format": "int32",
					"description": "The size of this page.",
					"type": "integer"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringDTO"
					}
				}
			}
		},
		"ApiPaginationComposite[PersonBasedCalculationDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"StartDate": {
					"format": "date-time",
					"description": "The start date.",
					"type": "string"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date.",
					"type": "string"
				},
				"PageNumber": {
					"format": "int32",
					"description": "The page number this page represents.",
					"type": "integer"
				},
				"TotalNumberOfPages": {
					"format": "int32",
					"description": "The total number of pages available.",
					"type": "integer"
				},
				"PageSize": {
					"format": "int32",
					"description": "The size of this page.",
					"type": "integer"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationDTO"
					}
				}
			}
		},
		"ApiPaginationComposite[PersonBasedDecisionDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"StartDate": {
					"format": "date-time",
					"description": "The start date.",
					"type": "string"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date.",
					"type": "string"
				},
				"PageNumber": {
					"format": "int32",
					"description": "The page number this page represents.",
					"type": "integer"
				},
				"TotalNumberOfPages": {
					"format": "int32",
					"description": "The total number of pages available.",
					"type": "integer"
				},
				"PageSize": {
					"format": "int32",
					"description": "The size of this page.",
					"type": "integer"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedDecisionDTO"
					}
				}
			}
		},
		"ApiPaginationComposite[PersonBasedExecutionDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"StartDate": {
					"format": "date-time",
					"description": "The start date.",
					"type": "string"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date.",
					"type": "string"
				},
				"PageNumber": {
					"format": "int32",
					"description": "The page number this page represents.",
					"type": "integer"
				},
				"TotalNumberOfPages": {
					"format": "int32",
					"description": "The total number of pages available.",
					"type": "integer"
				},
				"PageSize": {
					"format": "int32",
					"description": "The size of this page.",
					"type": "integer"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedExecutionDTO"
					}
				}
			}
		},
		"ApiPaginationComposite[PersonBasedInvestigationDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"StartDate": {
					"format": "date-time",
					"description": "The start date.",
					"type": "string"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date.",
					"type": "string"
				},
				"PageNumber": {
					"format": "int32",
					"description": "The page number this page represents.",
					"type": "integer"
				},
				"TotalNumberOfPages": {
					"format": "int32",
					"description": "The total number of pages available.",
					"type": "integer"
				},
				"PageSize": {
					"format": "int32",
					"description": "The size of this page.",
					"type": "integer"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedInvestigationDTO"
					}
				}
			}
		},
		"ApiPaginationComposite[PersonBasedPaymentDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"StartDate": {
					"format": "date-time",
					"description": "The start date.",
					"type": "string"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date.",
					"type": "string"
				},
				"PageNumber": {
					"format": "int32",
					"description": "The page number this page represents.",
					"type": "integer"
				},
				"TotalNumberOfPages": {
					"format": "int32",
					"description": "The total number of pages available.",
					"type": "integer"
				},
				"PageSize": {
					"format": "int32",
					"description": "The size of this page.",
					"type": "integer"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedPaymentDTO"
					}
				}
			}
		},
		"ApiPaginationComposite[PersonBasedResourceAllocationDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"StartDate": {
					"format": "date-time",
					"description": "The start date.",
					"type": "string"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date.",
					"type": "string"
				},
				"PageNumber": {
					"format": "int32",
					"description": "The page number this page represents.",
					"type": "integer"
				},
				"TotalNumberOfPages": {
					"format": "int32",
					"description": "The total number of pages available.",
					"type": "integer"
				},
				"PageSize": {
					"format": "int32",
					"description": "The size of this page.",
					"type": "integer"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedResourceAllocationDTO"
					}
				}
			}
		},
		"ApiPaginationComposite[PersonBasedServiceDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"StartDate": {
					"format": "date-time",
					"description": "The start date.",
					"type": "string"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date.",
					"type": "string"
				},
				"PageNumber": {
					"format": "int32",
					"description": "The page number this page represents.",
					"type": "integer"
				},
				"TotalNumberOfPages": {
					"format": "int32",
					"description": "The total number of pages available.",
					"type": "integer"
				},
				"PageSize": {
					"format": "int32",
					"description": "The size of this page.",
					"type": "integer"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedServiceDTO"
					}
				}
			}
		},
		"CommonCalculationExpenseDTO": {
			"description": "CalculationExpense documentation",
			"type": "object",
			"properties": {
				"AppliedAmount": {
					"format": "double",
					"description": "AppliedAmount",
					"type": "number"
				},
				"ApprovedAmount": {
					"format": "double",
					"description": "ApprovedAmount",
					"type": "number"
				},
				"Type": {
					"description": "Type",
					"type": "string"
				}
			}
		},
		"CommonCalculationIncomeDTO": {
			"description": "CalculationIncome documentation",
			"type": "object",
			"properties": {
				"AmountApplicant": {
					"format": "double",
					"description": "AmountApplicant",
					"type": "number"
				},
				"ApplicantSearchDate": {
					"description": "ApplicantSearchDate",
					"type": "string"
				},
				"AmountCoApplicant": {
					"format": "double",
					"description": "AmountCoApplicant",
					"type": "number"
				},
				"CoApplicantSearchDate": {
					"description": "CoApplicantSearchDate",
					"type": "string"
				},
				"Type": {
					"description": "Type",
					"type": "string"
				}
			}
		},
		"CommonCalculationSpecialExpenseDTO": {
			"description": "CalculationSpecialExpense documentation",
			"type": "object",
			"properties": {
				"AppliedAmount": {
					"format": "double",
					"description": "AppliedAmount",
					"type": "number"
				},
				"ApprovedAmount": {
					"format": "double",
					"description": "ApprovedAmount",
					"type": "number"
				},
				"Type": {
					"description": "Type",
					"type": "string"
				}
			}
		},
		"PersonBasedAddressDTO": {
			"description": "Address documentation",
			"type": "object",
			"properties": {
				"Id": {
					"description": "",
					"type": "string"
				},
				"VisitingAddress": {
					"description": "",
					"type": "string"
				},
				"StreetAddress": {
					"description": "",
					"type": "string"
				},
				"PostalCode": {
					"description": "",
					"type": "string"
				},
				"PostalAddress": {
					"description": "",
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringAttachmentTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"SenderTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/AktualisationsAttachmentSenderTypeDTO"
					}
				}
			}
		},
		"PersonBasedAktualiseringDTO": {
			"description": "Aktualisering documentation",
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"description": "Id",
					"type": "integer"
				},
				"Type": {
					"description": "Type",
					"type": "string"
				},
				"PersonId": {
					"description": "PersonId",
					"type": "string"
				},
				"Name": {
					"description": "Name",
					"type": "string"
				},
				"Date": {
					"description": "Date",
					"type": "string"
				},
				"Reason": {
					"description": "Reason",
					"type": "string"
				},
				"Regards": {
					"description": "Regards",
					"type": "string"
				},
				"FromWho": {
					"description": "FromWho",
					"type": "string"
				},
				"Caseworker": {
					"description": "Caseworker",
					"type": "string"
				},
				"Organization": {
					"description": "Organization",
					"type": "string"
				},
				"Status": {
					"description": "Status",
					"type": "string"
				},
				"InvestigationId": {
					"format": "int32",
					"description": "InvestigationId",
					"type": "integer"
				},
				"ServiceId": {
					"format": "int32",
					"description": "ServiceId",
					"type": "integer"
				},
				"DecisionId": {
					"format": "int32",
					"description": "DecisionId",
					"type": "integer"
				}
			}
		},
		"PersonBasedAktualiseringProposalDTO": {
			"type": "object",
			"properties": {
				"ActualisationTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsInfoDTO"
					}
				},
				"SpecifyTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsSpecifyTypeDTO"
					}
				},
				"WorkingStatus": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsWorkingStatusDTO"
					}
				},
				"Organizations": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsOrganizationDTO"
					}
				},
				"Investigations": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsInvestigationDTO"
					}
				},
				"Services": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsServiceDTO"
					}
				},
				"AttachmentTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringAttachmentTypeDTO"
					}
				}
			}
		},
		"PersonBasedAktualiseringsFromWhoDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsInfoDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"SpecifyTypeMandatory": {
					"type": "boolean"
				},
				"WorkingStatus": {
					"type": "boolean"
				},
				"Reasons": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsReasonDTO"
					}
				},
				"FromWho": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsFromWhoDTO"
					}
				},
				"InvestigationTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsInvestigationTypeDTO"
					}
				},
				"ServiceTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsServiceTypeDTO"
					}
				}
			}
		},
		"PersonBasedAktualiseringsInvestigationDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				},
				"OrganisationId": {
					"format": "int32",
					"type": "integer"
				},
				"OrganisationUnitId": {
					"type": "string"
				},
				"CaseworkerId": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsInvestigationTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsOrganizationDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"UnitId": {
					"type": "string"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsReasonDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsServiceDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				},
				"OrganisationId": {
					"format": "int32",
					"type": "integer"
				},
				"OrganisationUnitId": {
					"type": "string"
				},
				"CaseworkerId": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsServiceTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsSpecifyTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsWorkingStatusDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationAktualiseringDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"type": "string"
				},
				"Date": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationCalculationIncomeTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationDTO": {
			"description": "Calculation documentation",
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"description": "CalculationId",
					"type": "integer"
				},
				"Norm": {
					"description": "Norm",
					"type": "string"
				},
				"FromDate": {
					"description": "FromDate",
					"type": "string"
				},
				"ToDate": {
					"description": "ToDate",
					"type": "string"
				},
				"IncomeSum": {
					"format": "double",
					"description": "IncomeSum",
					"type": "number"
				},
				"ExpenseSum": {
					"format": "double",
					"description": "ExpenseSum",
					"type": "number"
				},
				"SpecialExpenseSum": {
					"format": "double",
					"description": "SpecialExpenseSum",
					"type": "number"
				},
				"NormSum": {
					"format": "double",
					"description": "NormSum",
					"type": "number"
				},
				"CommonHouseholdCost": {
					"format": "double",
					"description": "CommonHouseholdCost",
					"type": "number"
				},
				"FamilyCost": {
					"format": "double",
					"description": "FamilyCost",
					"type": "number"
				},
				"Balance": {
					"format": "double",
					"description": "Balance",
					"type": "number"
				},
				"TotalSum": {
					"format": "double",
					"description": "TotalSum",
					"type": "number"
				},
				"InvestigationId": {
					"format": "int32",
					"description": "InvestigationId",
					"type": "integer"
				},
				"ServiceId": {
					"format": "int32",
					"description": "ServiceId",
					"type": "integer"
				},
				"Final": {
					"description": "Final",
					"type": "boolean"
				},
				"ConnectedApplication": {
					"format": "int32",
					"description": "ConnectedApplication",
					"type": "integer"
				},
				"CalculationPersonDTOs": {
					"description": "CalculationPersons",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationPersonDTO"
					}
				},
				"CalculationIncomesDTOs": {
					"description": "CalculationIncomes",
					"type": "array",
					"items": {
						"$ref": "#/definitions/CommonCalculationIncomeDTO"
					}
				},
				"CalculationExpensesDTOs": {
					"description": "CalculationExpenses",
					"type": "array",
					"items": {
						"$ref": "#/definitions/CommonCalculationExpenseDTO"
					}
				},
				"CalculationSpecialExpensesDTOs": {
					"description": "CalculationSpecialExpenses",
					"type": "array",
					"items": {
						"$ref": "#/definitions/CommonCalculationSpecialExpenseDTO"
					}
				}
			}
		},
		"PersonBasedCalculationExpensePostDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Amount": {
					"format": "double",
					"type": "number"
				},
				"ApprovedAmount": {
					"format": "double",
					"type": "number"
				},
				"Note": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationExpenseTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationHouseholdMemberDTO": {
			"type": "object",
			"properties": {
				"PersonId": {
					"type": "string"
				},
				"Name": {
					"type": "string"
				},
				"ChildFromOtherHousehold": {
					"type": "boolean"
				}
			}
		},
		"PersonBasedCalculationIncomePostDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"ApplicantAmount": {
					"format": "double",
					"type": "number"
				},
				"ApplicantAmountDate": {
					"format": "date-time",
					"type": "string"
				},
				"CoApplicantAmount": {
					"format": "double",
					"type": "number"
				},
				"CoApplicantAmountDate": {
					"format": "date-time",
					"type": "string"
				},
				"Note": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationInvestigationDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationNormDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"FromDate": {
					"type": "string"
				},
				"ToDate": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationPersonDTO": {
			"description": "CalculationPerson documentation",
			"type": "object",
			"properties": {
				"PersonId": {
					"description": "PersonId",
					"type": "string"
				},
				"Name": {
					"description": "Name",
					"type": "string"
				},
				"Amount": {
					"format": "double",
					"description": "Amount",
					"type": "number"
				},
				"DeviationFromDate": {
					"description": "DeviationFromDate",
					"type": "string"
				},
				"DeviationToDate": {
					"description": "DeviationToDate",
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationPersonPostDTO": {
			"type": "object",
			"properties": {
				"PersonId": {
					"type": "string"
				},
				"NumberOfDays": {
					"format": "int32",
					"type": "integer"
				},
				"DeviationFromDate": {
					"format": "date-time",
					"type": "string"
				},
				"DeviationToDate": {
					"format": "date-time",
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationProposalDTO": {
			"type": "object",
			"properties": {
				"Investigations": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationInvestigationDTO"
					}
				},
				"Services": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationServiceDTO"
					}
				},
				"Norms": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationNormDTO"
					}
				},
				"HouseholdMembers": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationHouseholdMemberDTO"
					}
				},
				"CalculationExpenseTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationExpenseTypeDTO"
					}
				},
				"CalculationSpecialExpenseTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationSpecialExpenseTypeDTO"
					}
				},
				"CalculationIncomeTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationCalculationIncomeTypeDTO"
					}
				},
				"AktualiseringMandatory": {
					"type": "boolean"
				},
				"NumberOfFamilyMembersNotInHousehold": {
					"format": "int32",
					"type": "integer"
				},
				"Aktualiserings": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationAktualiseringDTO"
					}
				}
			}
		},
		"PersonBasedCalculationServiceDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationSpecialExpensePostDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Amount": {
					"format": "double",
					"type": "number"
				},
				"ApprovedAmount": {
					"format": "double",
					"type": "number"
				},
				"Note": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationSpecialExpenseTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedContactDTO": {
			"description": "Contact documentation",
			"type": "object",
			"properties": {
				"Id": {
					"description": "Id of the contact",
					"type": "string"
				},
				"Name": {
					"description": "Name of the contact",
					"type": "string"
				},
				"EmploymentTitle": {
					"description": "Employment Title of the contact",
					"type": "string"
				},
				"OrganizationName": {
					"description": "Organization Name of the contact",
					"type": "string"
				},
				"Phone": {
					"description": "Phone",
					"type": "string"
				},
				"Email": {
					"description": "Email",
					"type": "string"
				},
				"Address": {
					"$ref": "#/definitions/PersonBasedAddressDTO",
					"description": "Address"
				},
				"TypeOfContact": {
					"description": "TypeOfContact",
					"type": "string"
				}
			}
		},
		"PersonBasedDecisionDTO": {
			"description": "Decision documentation",
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"description": "Id",
					"type": "integer"
				},
				"Date": {
					"description": "Date",
					"type": "string"
				},
				"Type": {
					"description": "Type",
					"type": "string"
				},
				"FromDate": {
					"description": "FromDate",
					"type": "string"
				},
				"ToDate": {
					"description": "ToDate",
					"type": "string"
				},
				"Reason": {
					"description": "Reason",
					"type": "string"
				},
				"DecisionMaker": {
					"description": "DecisionMaker",
					"type": "string"
				},
				"Organization": {
					"description": "Organization",
					"type": "string"
				},
				"InvestigationExecutionId": {
					"format": "int32",
					"description": "InvestigationExecutionId",
					"type": "integer"
				},
				"ServiceId": {
					"format": "int32",
					"description": "ServiceId",
					"type": "integer"
				},
				"Amount": {
					"format": "double",
					"description": "Amount",
					"type": "number"
				},
				"CoApplicant": {
					"description": "CoApplicant",
					"type": "string"
				},
				"ReasonCoApplicant": {
					"description": "ReasonCoApplicant",
					"type": "string"
				},
				"ConnectedApplication": {
					"format": "int32",
					"description": "ConnectedApplication",
					"type": "integer"
				},
				"DecisionPersonDTOs": {
					"description": "DecisionPersons",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedDecisionPersonDTO"
					}
				}
			}
		},
		"PersonBasedDecisionPersonDTO": {
			"description": "DecisionPerson documentation",
			"type": "object",
			"properties": {
				"PersonId": {
					"description": "PersonId",
					"type": "string"
				},
				"Name": {
					"description": "Name",
					"type": "string"
				},
				"IsCoApplicant": {
					"description": "IsCoApplicant",
					"type": "boolean"
				}
			}
		},
		"PersonBasedExecutionDTO": {
			"description": "Execution documentation",
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"description": "Id",
					"type": "integer"
				},
				"Type": {
					"description": "Type",
					"type": "string"
				},
				"FromDate": {
					"description": "FromDate",
					"type": "string"
				},
				"ToDate": {
					"description": "ToDate",
					"type": "string"
				},
				"Caseworker": {
					"description": "Caseworker",
					"type": "string"
				},
				"Organization": {
					"description": "Organization",
					"type": "string"
				},
				"DossierType": {
					"description": "DossierType",
					"type": "string"
				}
			}
		},
		"PersonBasedInvestigationDTO": {
			"description": "Investigation documentation",
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"description": "Id",
					"type": "integer"
				},
				"Type": {
					"description": "Type",
					"type": "string"
				},
				"FromDate": {
					"description": "FromDate",
					"type": "string"
				},
				"ToDate": {
					"description": "ToDate",
					"type": "string"
				},
				"Caseworker": {
					"description": "Caseworker",
					"type": "string"
				},
				"Organization": {
					"description": "Organization",
					"type": "string"
				},
				"DossierType": {
					"description": "DossierType",
					"type": "string"
				},
				"Applicant": {
					"description": "Applicant",
					"type": "string"
				},
				"CoApplicant": {
					"description": "CoApplicant",
					"type": "string"
				},
				"InvestigationPersonDTOs": {
					"description": "InvestigationPersonDTOs",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedInvestigationPersonDTO"
					}
				}
			}
		},
		"PersonBasedInvestigationPersonDTO": {
			"description": "InvestigationPerson documentation",
			"type": "object",
			"properties": {
				"PersonId": {
					"description": "PersonId",
					"type": "string"
				},
				"Name": {
					"description": "Name",
					"type": "string"
				},
				"CoApplicant": {
					"description": "Name",
					"type": "boolean"
				}
			}
		},
		"PersonBasedPaymentDTO": {
			"description": "Payment documentation",
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"description": "Id of payment",
					"type": "integer"
				},
				"Amount": {
					"format": "double",
					"description": "",
					"type": "number"
				},
				"PaymentMethod": {
					"description": "",
					"type": "string"
				},
				"PayDate": {
					"description": "",
					"type": "string"
				},
				"Clearing": {
					"description": "",
					"type": "string"
				},
				"AccountNumber": {
					"description": "",
					"type": "string"
				},
				"Name": {
					"description": "",
					"type": "string"
				},
				"StreetAddress": {
					"description": "",
					"type": "string"
				},
				"CareOfAddress": {
					"description": "",
					"type": "string"
				},
				"PostalCode": {
					"description": "",
					"type": "string"
				},
				"PostalAddress": {
					"description": "",
					"type": "string"
				},
				"BillingNumber": {
					"description": "",
					"type": "string"
				},
				"LocalNumber": {
					"description": "",
					"type": "string"
				},
				"VoucherNumber": {
					"description": "",
					"type": "string"
				},
				"Message": {
					"description": "",
					"type": "string"
				},
				"InvestigationExecutionId": {
					"format": "int32",
					"description": "InvestigationExecutionId",
					"type": "integer"
				},
				"ServiceId": {
					"format": "int32",
					"description": "ServiceId",
					"type": "integer"
				},
				"ConnectedApplication": {
					"format": "int32",
					"description": "ConnectedApplication",
					"type": "integer"
				},
				"ConcernedMonth": {
					"description": "ConcernedMonth",
					"type": "string"
				},
				"PaymentPersonDTOs": {
					"description": "PaymentPersons",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedPaymentPersonDTO"
					}
				}
			}
		},
		"PersonBasedPaymentPersonDTO": {
			"description": "PaymentPerson documentation",
			"type": "object",
			"properties": {
				"PersonId": {
					"description": "",
					"type": "string"
				},
				"Name": {
					"description": "",
					"type": "string"
				}
			}
		},
		"PersonBasedPersonDTO": {
			"description": "Person documentation",
			"type": "object",
			"properties": {
				"PersonId": {
					"description": "PersonId",
					"type": "string"
				},
				"CustomerNumber": {
					"format": "int32",
					"description": "CustomerNumber",
					"type": "integer"
				},
				"Name": {
					"description": "Name",
					"type": "string"
				},
				"StreetAddress": {
					"description": "StreetAddress",
					"type": "string"
				},
				"PostalCode": {
					"description": "PostalCode",
					"type": "string"
				},
				"PostalAddress": {
					"description": "PostalAddress",
					"type": "string"
				},
				"CareOfAddress": {
					"description": "CareOfAddress",
					"type": "string"
				},
				"PhoneHome": {
					"description": "PhoneHome",
					"type": "string"
				},
				"PhoneWork": {
					"description": "PhoneWork",
					"type": "string"
				},
				"PhoneMobile": {
					"description": "PhoneMobile",
					"type": "string"
				},
				"Email": {
					"description": "Email",
					"type": "string"
				},
				"Source": {
					"description": "Source, \"FC\" or \"Population\"",
					"type": "string"
				},
				"AddressProtection": {
					"description": "AddressProtection",
					"type": "boolean"
				},
				"SecretPhone": {
					"description": "SecretPhone",
					"type": "boolean"
				},
				"ProtectedRegistration": {
					"description": "RegistrationProtection",
					"type": "boolean"
				}
			}
		},
		"PersonBasedResourceAllocationDTO": {
			"description": "Resource allocation documentation",
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"description": "Id of resource allocation",
					"type": "integer"
				},
				"StartDate": {
					"description": "StartDate",
					"type": "string"
				},
				"EndDate": {
					"description": "EndDate",
					"type": "string"
				},
				"Percent": {
					"format": "int32",
					"description": "Percent",
					"type": "integer"
				},
				"Resource": {
					"description": "Resource",
					"type": "string"
				},
				"ResourceType": {
					"description": "ResourceType",
					"type": "string"
				},
				"ServiceId": {
					"format": "int32",
					"description": "ServiceId",
					"type": "integer"
				}
			}
		},
		"PersonBasedServiceDTO": {
			"description": "Service documentation",
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"description": "Id of service",
					"type": "integer"
				},
				"Type": {
					"description": "Type",
					"type": "string"
				},
				"Organization": {
					"description": "Organization",
					"type": "string"
				},
				"StartDate": {
					"description": "StartDate",
					"type": "string"
				},
				"EndDate": {
					"description": "EndDate",
					"type": "string"
				},
				"Caseworker": {
					"description": "Caseworker",
					"type": "string"
				},
				"CoCaseworker": {
					"description": "CoCaseworker",
					"type": "string"
				},
				"InvestigationId": {
					"format": "int32",
					"description": "InvestigationId",
					"type": "integer"
				},
				"DecisionId": {
					"format": "int32",
					"description": "DecisionId",
					"type": "integer"
				},
				"Applicant": {
					"description": "Applicant",
					"type": "string"
				},
				"CoApplicant": {
					"description": "CoApplicant",
					"type": "string"
				},
				"ServicePersonDTOs": {
					"description": "ServicePersonDTOs",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedServicePersonDTO"
					}
				}
			}
		},
		"PersonBasedServicePersonDTO": {
			"description": "ServicePerson documentation",
			"type": "object",
			"properties": {
				"PersonId": {
					"description": "",
					"type": "string"
				},
				"Name": {
					"description": "",
					"type": "string"
				}
			}
		},
		"PostAktualiseringsBodyRequest": {
			"type": "object",
			"properties": {
				"PersonId": {
					"type": "string"
				},
				"Date": {
					"type": "string"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"FromWho": {
					"format": "int32",
					"type": "integer"
				},
				"Reason": {
					"format": "int32",
					"type": "integer"
				},
				"OrganisationId": {
					"format": "int32",
					"type": "integer"
				},
				"OrganisationUnitId": {
					"type": "string"
				},
				"CaseworkerId": {
					"type": "string"
				},
				"Specifies": {
					"format": "int32",
					"type": "integer"
				},
				"ServiceId": {
					"format": "int32",
					"type": "integer"
				},
				"InvestigationId": {
					"format": "int32",
					"type": "integer"
				},
				"WorkingStatus": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"PostCalculationBodyRequest": {
			"type": "object",
			"properties": {
				"PersonId": {
					"type": "string"
				},
				"ServiceId": {
					"format": "int32",
					"type": "integer"
				},
				"InvestigationId": {
					"format": "int32",
					"type": "integer"
				},
				"NormId": {
					"format": "int32",
					"type": "integer"
				},
				"AktualiseringId": {
					"format": "int32",
					"type": "integer"
				},
				"CalculationDate": {
					"type": "string"
				},
				"CalculationFromDate": {
					"type": "string"
				},
				"CalculationToDate": {
					"type": "string"
				},
				"HasCustomHouseholdSize": {
					"type": "boolean"
				},
				"HouseholdSize": {
					"format": "int32",
					"type": "integer"
				},
				"CalculationPersons": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationPersonPostDTO"
					}
				},
				"CalculationExpenses": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationExpensePostDTO"
					}
				},
				"CalculationSpecialExpenses": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationSpecialExpensePostDTO"
					}
				},
				"CalculationIncomes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationIncomePostDTO"
					}
				}
			}
		},
		"User": {
			"description": "FC user (caseworker/handläggare). The Id is the FC user id used as CaseworkerId on an actualisation; NetworkUserId is the AD username used as the careM errand assignedUserId; FullName is what the person-based Service reads expose as Caseworker.",
			"type": "object",
			"properties": {
				"Id": {
					"type": "string",
					"description": "FC user id (max length 10). Used as the actualisation CaseworkerId.",
					"maxLength": 10
				},
				"PersonId": {
					"type": "string"
				},
				"HsaId": {
					"type": "string"
				},
				"NetworkUserId": {
					"type": "string",
					"description": "Network (AD) user id — used as the careM errand assignedUserId."
				},
				"VrkId": {
					"type": "string"
				},
				"FirstName": {
					"type": "string"
				},
				"LastName": {
					"type": "string"
				},
				"FullName": {
					"type": "string",
					"description": "Full display name — matched against the Service's Caseworker."
				},
				"Description": {
					"type": "string"
				},
				"ValidFrom": {
					"type": "string"
				},
				"ValidTo": {
					"type": "string"
				},
				"Disabled": {
					"type": "boolean"
				}
			}
		},
		"PersonBasedDocumentDTO": {
			"description": "Document documentation",
			"type": "object",
			"properties": {
				"Id": {
					"description": "Id",
					"type": "string"
				},
				"Title": {
					"description": "Title",
					"type": "string"
				},
				"Date": {
					"description": "Date",
					"type": "string"
				},
				"DocumentType": {
					"description": "DocumentType",
					"type": "string"
				},
				"OwnerId": {
					"description": "OwnerId",
					"type": "string"
				},
				"OwnerType": {
					"description": "OwnerType",
					"type": "string"
				}
			}
		},
		"ApiPaginationComposite[PersonBasedDocumentDTO]": {
			"description": "",
			"type": "object",
			"properties": {
				"StartDate": {
					"format": "date-time",
					"description": "The start date.",
					"type": "string"
				},
				"EndDate": {
					"format": "date-time",
					"description": "The end date.",
					"type": "string"
				},
				"PageNumber": {
					"format": "int32",
					"description": "The page number this page represents.",
					"type": "integer"
				},
				"TotalNumberOfPages": {
					"format": "int32",
					"description": "The total number of pages available.",
					"type": "integer"
				},
				"PageSize": {
					"format": "int32",
					"description": "The size of this page.",
					"type": "integer"
				},
				"TotalNumberOfRecords": {
					"format": "int32",
					"description": "The total number of records available.",
					"type": "integer"
				},
				"Result": {
					"description": "The records available.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedDocumentDTO"
					}
				}
			}
		}
	}
}
