{
	"swagger": "2.0",
	"info": {
		"version": "v1",
		"title": "Lifecare FamilyCare (FC) API — caremanagement write-back subset",
		"description": "Trimmed subset of Tieto/Lifecare FamilyCare API V1 used by api-service-caremanagement for EB write-back (aktualisering + normberäkning) and the proposal lookups that drive them. Full spec archived in vof-ekonomiskt-bistand/docs/source/lifecare-fc-swagger-v1.json. Auth (domain+key query params / X-API-Key header) is applied by LifecareFcConfiguration, not modelled here."
	},
	"host": "prod-lcsse.service.tieto.com",
	"basePath": "/WESE.FC.Api.FC",
	"schemes": [
		"https"
	],
	"paths": {
		"/apifc/v1/Actualisations": {
			"post": {
				"tags": [
					"Person based"
				],
				"summary": "Post an actualisation",
				"operationId": "Aktualiserings_PostAktualisering",
				"consumes": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/PostAktualiseringsBodyRequest"
						}
					},
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "int32",
							"type": "integer"
						}
					}
				}
			}
		},
		"/apifc/v1/Actualisations/Proposals": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "Get proposal for actualisation",
				"operationId": "Aktualiserings_GetAktualiseringProposal",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "personId",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/PersonBasedAktualiseringProposalDTO"
						}
					}
				}
			}
		},
		"/apifc/v1/Calculations": {
			"post": {
				"tags": [
					"Person based"
				],
				"summary": "Post an calculations",
				"operationId": "Calculations_PostCalculation",
				"consumes": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml",
					"application/x-www-form-urlencoded"
				],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"required": true,
						"schema": {
							"$ref": "#/definitions/PostCalculationBodyRequest"
						}
					},
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"format": "int32",
							"type": "integer"
						}
					}
				}
			}
		},
		"/apifc/v1/Calculations/Proposals": {
			"get": {
				"tags": [
					"Person based"
				],
				"summary": "Get proposal for calculations",
				"operationId": "Calculations_GetCalculationProposal",
				"consumes": [],
				"produces": [
					"application/json",
					"text/json",
					"text/html",
					"application/xml",
					"text/xml"
				],
				"parameters": [
					{
						"name": "domain",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "key",
						"in": "query",
						"required": true,
						"type": "string"
					},
					{
						"name": "personId",
						"in": "query",
						"required": true,
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/PersonBasedCalculationProposalDTO"
						}
					}
				}
			}
		}
	},
	"definitions": {
		"AktualisationsAttachmentSenderTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringAttachmentTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"SenderTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/AktualisationsAttachmentSenderTypeDTO"
					}
				}
			}
		},
		"PersonBasedAktualiseringProposalDTO": {
			"type": "object",
			"properties": {
				"ActualisationTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsInfoDTO"
					}
				},
				"SpecifyTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsSpecifyTypeDTO"
					}
				},
				"WorkingStatus": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsWorkingStatusDTO"
					}
				},
				"Organizations": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsOrganizationDTO"
					}
				},
				"Investigations": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsInvestigationDTO"
					}
				},
				"Services": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsServiceDTO"
					}
				},
				"AttachmentTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringAttachmentTypeDTO"
					}
				}
			}
		},
		"PersonBasedAktualiseringsFromWhoDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsInfoDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"SpecifyTypeMandatory": {
					"type": "boolean"
				},
				"WorkingStatus": {
					"type": "boolean"
				},
				"Reasons": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsReasonDTO"
					}
				},
				"FromWho": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsFromWhoDTO"
					}
				},
				"InvestigationTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsInvestigationTypeDTO"
					}
				},
				"ServiceTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedAktualiseringsServiceTypeDTO"
					}
				}
			}
		},
		"PersonBasedAktualiseringsInvestigationDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				},
				"OrganisationId": {
					"format": "int32",
					"type": "integer"
				},
				"OrganisationUnitId": {
					"type": "string"
				},
				"CaseworkerId": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsInvestigationTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsOrganizationDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"UnitId": {
					"type": "string"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsReasonDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsServiceDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				},
				"OrganisationId": {
					"format": "int32",
					"type": "integer"
				},
				"OrganisationUnitId": {
					"type": "string"
				},
				"CaseworkerId": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsServiceTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsSpecifyTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedAktualiseringsWorkingStatusDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationAktualiseringDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"type": "string"
				},
				"Date": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationCalculationIncomeTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationExpensePostDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Amount": {
					"format": "double",
					"type": "number"
				},
				"ApprovedAmount": {
					"format": "double",
					"type": "number"
				},
				"Note": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationExpenseTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationHouseholdMemberDTO": {
			"type": "object",
			"properties": {
				"PersonId": {
					"type": "string"
				},
				"Name": {
					"type": "string"
				},
				"ChildFromOtherHousehold": {
					"type": "boolean"
				}
			}
		},
		"PersonBasedCalculationIncomePostDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"ApplicantAmount": {
					"format": "double",
					"type": "number"
				},
				"ApplicantAmountDate": {
					"format": "date-time",
					"type": "string"
				},
				"CoApplicantAmount": {
					"format": "double",
					"type": "number"
				},
				"CoApplicantAmountDate": {
					"format": "date-time",
					"type": "string"
				},
				"Note": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationInvestigationDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationNormDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"FromDate": {
					"type": "string"
				},
				"ToDate": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationPersonPostDTO": {
			"type": "object",
			"properties": {
				"PersonId": {
					"type": "string"
				},
				"NumberOfDays": {
					"format": "int32",
					"type": "integer"
				},
				"DeviationFromDate": {
					"format": "date-time",
					"type": "string"
				},
				"DeviationToDate": {
					"format": "date-time",
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationProposalDTO": {
			"type": "object",
			"properties": {
				"Investigations": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationInvestigationDTO"
					}
				},
				"Services": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationServiceDTO"
					}
				},
				"Norms": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationNormDTO"
					}
				},
				"HouseholdMembers": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationHouseholdMemberDTO"
					}
				},
				"CalculationExpenseTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationExpenseTypeDTO"
					}
				},
				"CalculationSpecialExpenseTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationSpecialExpenseTypeDTO"
					}
				},
				"CalculationIncomeTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationCalculationIncomeTypeDTO"
					}
				},
				"AktualiseringMandatory": {
					"type": "boolean"
				},
				"NumberOfFamilyMembersNotInHousehold": {
					"format": "int32",
					"type": "integer"
				},
				"Aktualiserings": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationAktualiseringDTO"
					}
				}
			}
		},
		"PersonBasedCalculationServiceDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				},
				"StartDate": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationSpecialExpensePostDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Amount": {
					"format": "double",
					"type": "number"
				},
				"ApprovedAmount": {
					"format": "double",
					"type": "number"
				},
				"Note": {
					"type": "string"
				}
			}
		},
		"PersonBasedCalculationSpecialExpenseTypeDTO": {
			"type": "object",
			"properties": {
				"Id": {
					"format": "int32",
					"type": "integer"
				},
				"Name": {
					"type": "string"
				}
			}
		},
		"PostAktualiseringsBodyRequest": {
			"type": "object",
			"properties": {
				"PersonId": {
					"type": "string"
				},
				"Date": {
					"type": "string"
				},
				"Type": {
					"format": "int32",
					"type": "integer"
				},
				"FromWho": {
					"format": "int32",
					"type": "integer"
				},
				"Reason": {
					"format": "int32",
					"type": "integer"
				},
				"OrganisationId": {
					"format": "int32",
					"type": "integer"
				},
				"OrganisationUnitId": {
					"type": "string"
				},
				"CaseworkerId": {
					"type": "string"
				},
				"Specifies": {
					"format": "int32",
					"type": "integer"
				},
				"ServiceId": {
					"format": "int32",
					"type": "integer"
				},
				"InvestigationId": {
					"format": "int32",
					"type": "integer"
				},
				"WorkingStatus": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"PostCalculationBodyRequest": {
			"type": "object",
			"properties": {
				"PersonId": {
					"type": "string"
				},
				"ServiceId": {
					"format": "int32",
					"type": "integer"
				},
				"InvestigationId": {
					"format": "int32",
					"type": "integer"
				},
				"NormId": {
					"format": "int32",
					"type": "integer"
				},
				"AktualiseringId": {
					"format": "int32",
					"type": "integer"
				},
				"CalculationDate": {
					"type": "string"
				},
				"CalculationFromDate": {
					"type": "string"
				},
				"CalculationToDate": {
					"type": "string"
				},
				"HasCustomHouseholdSize": {
					"type": "boolean"
				},
				"HouseholdSize": {
					"format": "int32",
					"type": "integer"
				},
				"CalculationPersons": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationPersonPostDTO"
					}
				},
				"CalculationExpenses": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationExpensePostDTO"
					}
				},
				"CalculationSpecialExpenses": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationSpecialExpensePostDTO"
					}
				},
				"CalculationIncomes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/PersonBasedCalculationIncomePostDTO"
					}
				}
			}
		}
	}
}
